.total{
	padding-left: 12rpx;
	
	.heji{
		line-height: 50px;
		font-size: 13px;
		color: black;
		width: 150rpx;
	}
	.amount{
		line-height: 50px;
		padding-left: 16rpx;
		color: #ff8f1a;
		font-size: 18px;
		width: 150rpx;
	}
}