UNIAPP_NAME=demo-app
SDK_DOWNLOAD_URL=https://web-ext-storage.dcloud.net.cn/uni-app-x/sdk/Android/Android-uni-app-x-SDK@14694-5.07.zip
LOCAL_PACK=true
STORE_PASSWORD=adminadmindebug
KEY_ALIAS=androiddebugkey
KEY_PASSWORD=adminadmindebug
