<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data android:name="UTS_PDF_LimePDF" android:value="LimePDF"/>
        <activity android:name="uts.sdk.modules.limePdf.LimePDFFActivity"/>
    </application>
</manifest>